.Footer {
   position: inherit;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(153, 241, 148);
   color: rgb(0, 0, 0);
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
}